# General
.DS_Store
.vs/
.vscode/
*.user
*.suo
*.userprefs

# DotNet
bin/
obj/
Debug/
Release/
*.pdb

# Secrets
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json
!**/appsettings.Example.json

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Logs
*.log
build_log.txt
msbuild.log
